@charset "utf-8";
/* CSS Document */

h1{
	color:#0000FF;
	alignment-adjust:central;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:80px;
	font-style:italic;
	font-weight:900;
	font-variant:normal;
	text-align: center;
}
/* cenas do menu */


#global {
	margin: 0px auto; 
	text-align: center;
}
#global ul ul{
	display:none;
}
#global ul li:hover >ul{
	display:block;
}
#global ul{
	background-color: #CECECE;
	padding: 0px 0px;
	border-radius:25px;
	list-style:none;
	display:inline-block;
	position:relative; 
}

#global ul li{
		float:left;
	}
#global ul li:hover{
			background:#4b545f;
            
		}
#global ul li:hover a{
			color:#FFF;
		}
	
#global ul li a{
		display:block;
		padding:25px 40px;
		color:#757575;
		text-decoration:none;
	}
	
#global ul ul{
		background:#5f6975;
		padding:2px;
		position:absolute;
		top:100%;
		border-radius:0px;
        box-shadow:black;
	}
#global ul ul li{
        width: 194px;
		float:none;
		border-top:1px solid #6b727c;
		border-bottom:1px solid #575f6a;
		position:relative;
	}
#global ul ul li a{
			padding:15px 40px;
			color:#fff;
		}
#global ul li a:hover{
			background:#4b545f;
		}
		
#global ul ul ul{
			position:absolute;
			left:100%;
			top:0%;
            box-shadow:black;
            padding: 2px;
			}
		

/* fim de cenas do menu */

body{
	background-image:url(imagemfundo/imagemfundo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#conteudo{
	position: absolute;
    width: 900px;;
    top: 0px;
    margin-left: -450px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 5px 2px #555;
    left: 50%;
    padding: 10px;
}

/*inicio galeria imagens*/

#galeria{
    height: 100px;
    width: 100px;
}

#galeria td{
    padding: 20px 20px 20px 20xp;
    border:1px solid gray;
}

#galeria td:hover{
    border:0px;
    align-content: center;
    -ms-transform: scale(4,4); 
    -webkit-transform: scale(4,4);
    transform: scale(4,4);
}

/*fim galeria imagens*/


nav { 
    margin-op:60px; 
    left:0; 
    right:0; 
    z-index: 20; 
    background: #fff; 
    position: absolute; 
}   
nav li { 
    display: inline; 
    padding-right: 1em; 
}   
nav a { 
    background:#339999; 
    padding: 5px 10px; 
    border-radius: 3px; 
    color:#FFF; 
    font-weight: bold; 
    text-decoration: none; 
} 
nav a:hover{ 
    background: #339999; 
}   
.slideshow { 
    margin:auto; 
    padding-top:160px; 
    position: relative; 
    height: 333px; 
    width: 500px; 
    overflow: hidden; 
} 
.target { 
    position: absolute; 
    top: 160px; 
    right:500px; 
    height: 333px; 
    width: 500px; 
    overflow: hidden; 
} 
.target:target { 
    left:-100px; 
} 
