@charset "utf-8";
/* CSS Document */

h1{
	color:#0000FF;
}

body{
	background-color:#ADADAD
}

#conteudo{
	position: absolute;
    width: 900px;
    min-height: 50%;
    height: 100%;
	bottom:0px;
    top: 0px;
    margin-left: -450px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 4px 2px #555 inset;
    left: 50%;
    padding: 10px;
}