@charset "utf-8";
/* CSS Document */

h1{
	color:#0000FF;
	alignment-adjust:central;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:80px;
	font-style:italic;
	font-weight:900;
	font-variant:normal;
	text-align: center;
}

<<<<<<< HEAD
global ul li {
    float: left;
}

.global ul ul{
    display: none;
}

.global ul li:hover>ul{
    display: block;
}

.global ul {
    background: #efefef;
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.global ul li {
    float: left;
}

.global ul li:hover{
        background: #4b545f;
}

.global ul li:hover a {
    color: #fff;
}

.global ul li a{
    display: block;
    padding: 25px 40px;
    color: #757575;
    text-decoration: none;
}

.global ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

.global ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

.global ul ul li {
    padding: 15px 40px;
    color: #fff;
}

.global ul ul li a:hover {
    background: #4b545f;
}

.global ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
=======
body{
	background-image:url(Azoren_Corvo_Vila_Nova.jpg);
	background-attachment: scroll;
	height:auto;
}


#conteudo{
	position: absolute;
    width: 900px;;
    top: 0px;
    margin-left: -450px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 5px 2px #555;
    left: 50%;
    padding: 10px;
}



#global {
	margin: 100px auto; 
	text-align: center;
}
#global ul ul{
	display:none;
}
#global ul li:hover >ul{
	display:block;
}
#global ul{
	background-color: #efefef;
	padding: 0px 20px;
	border-radius:10px;
	list-style:none;
	display:inline-block;
	position:relative; 
}

#global ul li{
		float:left;
	}
#global ul li:hover{
			background:#4b545f;
		}
#global ul li:hover a{
			color:#FFF;
		}
	
#global ul li a{
		display:block;
		padding:25px 40px;
		color:#757575;
		text-decoration:none;
	}
	
#global ul ul{
		background:#5f6975;
		padding:0px;
		position:absolute;
		top:100%;
		border-radius:0px;
	}
#global ul ul li{
		float:none;
		border-top:1px solid #6b727c;
		border-bottom:1px solid #575f6a;
		position:relative;
	}
#global ul ul li a{
			padding:15px 40px;
			color:#fff;
		}
#global ul li a:hover{
			background:#4b545f;
		}
		
#global ul ul ul{
			position:absolute;
			left:100%;
			top:0%;
			
		}
		
/*Imagens em Slideshow*/




body{
    background-image: url("imagemfundo.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
}
	
#slideshow{
	position:relative;
	width:500px;
	margin:100px auto;
	left: auto;
	right: auto;
	alignment-adjust:central;
	text-align: center;
}

#slideshow img{
	position:relative; /* nao podes user position obsolutes dentro do conteudo */
	top:32px;
	left:-179px;
	right:auto;
	z-index:2;
	alignment-adjust:central;
	width: 844px;
}
#slideshow img.active{
	z-index:2;
}

#slideshow img.last-active{
	z-index:2;
}
<img src="1" class="active"/>
<img src="2" class="active"/>
<img src="3" class="active"/>
<img src="4" class="active"/>
<img src="5" class="active"/>
<img src="6" class="active"/>

/*Termina aqui*/
>>>>>>> origin/master
