@charset "utf-8";
/* CSS Document */

h1{
	color:#0000FF;
}

global ul li {
    float: left;
}

.global ul ul{
    display: none;
}

.global ul li:hover>ul{
    display: block;
}

.global ul {
    background: #efefef;
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.global ul li {
    float: left;
}

.global ul li:hover{
        background: #4b545f;
}

.global ul li:hover a {
    color: #fff;
}

.global ul li a{
    display: block;
    padding: 25px 40px;
    color: #757575;
    text-decoration: none;
}

.global ul ul {
    background: #5f6975;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

.global ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}

.global ul ul li {
    padding: 15px 40px;
    color: #fff;
}

.global ul ul li a:hover {
    background: #4b545f;
}

.global ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}