@charset "utf-8";
/* CSS Document */

h1{
	color:#0000FF;
	alignment-adjust:central;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:80px;
	font-style:italic;
	font-weight:900;
	font-variant:normal;
	text-align: center;
<<<<<<< HEAD

}

body{
	background-image:url(Azoren_Corvo_Vila_Nova.jpg);
	background-attachment: scroll;
	height:auto;
}


#conteudo{
	position: absolute;
    width: 900px;
	height:1500px;
	bottom:0px;
    top: 0px;
    margin-left: -450px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 4px 2px #555 inset;
    left: 50%;
    padding: 10px;
=======
>>>>>>> origin/master
}
/* cenas do menu */


#global {
	margin: 100px auto; 
	text-align: center;
}
#global ul ul{
	display:none;
}
#global ul li:hover >ul{
	display:block;
}
#global ul{
	background-color: #efefef;
	padding: 0px 20px;
	border-radius:10px;
	list-style:none;
	display:inline-block;
	position:relative; 
}

#global ul li{
		float:left;
	}
#global ul li:hover{
			background:#4b545f;
		}
#global ul li:hover a{
			color:#FFF;
		}
	
#global ul li a{
		display:block;
		padding:25px 40px;
		color:#757575;
		text-decoration:none;
	}
	
#global ul ul{
		background:#5f6975;
		padding:0px;
		position:absolute;
		top:100%;
		border-radius:0px;
	}
#global ul ul li{
		float:none;
		border-top:1px solid #6b727c;
		border-bottom:1px solid #575f6a;
		position:relative;
	}
#global ul ul li a{
			padding:15px 40px;
			color:#fff;
		}
#global ul li a:hover{
			background:#4b545f;
		}
		
#global ul ul ul{
			position:absolute;
			left:100%;
			top:0%;
			
		}
		

/* fim de cenas do menu */

body{
	background-image:url(Azoren_Corvo_Vila_Nova.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#conteudo{
	position: absolute;
    width: 900px;;
    top: 0px;
    margin-left: -450px;
    background-color: #FFF;
    z-index: 2;
    box-shadow: 0 0 5px 2px #555;
    left: 50%;
    padding: 10px;
}

/* inicio slide show */
#slideshow{
	position:relative;
	width:500px;
	margin:100px auto;
	left: auto;
	right: auto;
	alignment-adjust:central;
	text-align: center;
}

#slideshow img{
<<<<<<< HEAD
	position:absolute;
	top:-296px;
	left:-169px;
=======
	position:relative; /* nao podes user position obsolutes dentro do conteudo */
	top:32px;
	left:-179px;
>>>>>>> origin/master
	right:auto;
	z-index:2;
	alignment-adjust:central;
	width: 844px;
}
#slideshow img.active{
	z-index:2;
}

#slideshow img.last-active{
	z-index:2;
}
/*fim slide show*/
